@model RegistroViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Usuário - Resenha Cultural</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main id="registro-form">
            <h2>Resenha Cultural - Registro</h2>
            <p>@Html.ValidationSummary()</p>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(l => l.LoginName)
                    @Html.TextBoxFor(l => l.LoginName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(l => l.Email)
                    @Html.TextBoxFor(l => l.Email, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(l => l.Senha)
                    @Html.PasswordFor(l => l.Senha, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(l => l.ConfirmacaoSenha)
                    @Html.PasswordFor(l => l.ConfirmacaoSenha, new { @class = "form-control" })
                </div>

                <button class="btn btn-primary">Registrar</button>
            }
        </main>
    </div>
</body>
</html>
